/*Author: Cole, 000837024 */
    * {
        margin: 0;
        padding: 0;
    }



    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;

    }
    .main {
        padding: 0 10%;
        margin-top: 10px;
       
    }

    .mainh3 {
        background-color: #0172BA;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 1.5em;
        margin-top: 10px;
        
    }
    /* nav bar */
    nav {
        background-color:#CEECFE ;
        text-align: center;
        border-top: 1px solid #0172BA;
        border-bottom: 1px solid #0172BA;
        position: sticky;
        
        
    }
    nav ul {
        list-style: none;
        margin: 20px; 
       
    }
    nav li {
        display: inline;
        background-color: white ;
        color: #0172BA;
        border: 2px solid #0172BA;
        border-radius: 18px ;
        padding: 8px 15px;
        margin: 10px 10px; 
       
    }
    nav li:hover {
        background-color: #003557;
    }
    nav a {
        text-decoration: none;
    }
     /* nav bar  */
      /* header  */
    #signin {
        text-align: right;
    }
    #signin li {
        text-align: center;
        display: inline-block;
        margin-top: 20%;
        border-radius:  18px;
        padding: 8px 15px;
        background-color: #0172BA;
        color: white;
        margin-right: 10px;
        
    }
    #signin li:hover{
        background-color: #089247;
        
    }
    #socialmedia li {
        display: inline-block;
        align-content: center;
        margin-top: 20%;
    }
    
     /* end of header */
    /* title figure */
    figure {
        text-align: center;
    }
    .main { /* main body grid */
        display: grid ;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        
    }
    .canoeing {  /* frist col  canoeing text  */
        grid-row: 1 ; 
        grid-column: 1 ;
        justify-self: center;
        
        
       
    }

    .type { /* small type of grid of canoes  */
       grid-column: 1;
       grid-row: 1;
       margin-top: 10px;
      
    }
    .hiking { /* middle hiking grid*/
       justify-self: center;
       grid-column: 2 /  span 1;
       padding: 0px 10px 10px 10px;
    }
    #picright  { /* pictures */
        float: left;
        padding: 8px;
        width: 200px;
    }
    
    #picleft { /* pictures */
        float: right; 
        padding: 8px;
      
    }
    .trails { /* grid inside of hiking */
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 5px;
       background-color: #ecf7fe;
       border: 1px solid black;
       margin-top: 10px;
       height: 204px;
      
    }
    .title-grid { /* title of the nested grid */
        grid-row:  1  2;
        grid-column: 1 / span 2;  
    }
    .h3black { /* title of the internal grid */
        text-align: center;
        font-size: 1.5em;
    }
   .ul1 {
        
        padding-left: 26px;
       
    }
    .ul2 {
        padding-left: 34px;
        
    }
    .line {
         border-right: 1px solid black;
    }

   
    .pictures { /* poster ads */
        grid-column: 3;
        grid-row: 1;
        padding-right: 30%;
        padding-top: 19px;

    }
    .pictures img {
        margin-bottom: 34px;
        margin-top: -19px;
    }
    .flexbox {
        display: flex; 
        grid-column: 2;
        grid-row: 2;
        margin-top: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
       
    }
    .flexbox img {
        border: 2px solid black;
        align-content:space-between; 
        justify-content: center;
    }

   .credits {
    border-top:2px solid #0172BA;
    border-bottom: 2px solid #0172BA;
    text-align: center;
    margin-bottom: 22px;
    
   }
   footer {
       background-color: #CEECFE;
       border-bottom: 2px solid #0172BA;
       border-top: 2px solid #0172BA;
       margin-bottom: 20px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr ;
       grid-gap: 20px;

   }
   .footertitle h4{
       border-bottom: 1px solid #0172BA;
       text-align: left;
   }
   .flist  li{
       list-style: none;
      
   }
   .footerlogo {
       grid-column: 1;
       grid-row: 1 ;
       margin-top: 14px;
    }
    .footerlogo img {
        width: 266px;
    }
    .footerlogo a {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        color: black;
    }
    .footerlogo a:hover{
        background-color: #089247;
    }
    .footerlogo p {
        margin-top: 11px;
    }
    
    .about {
       grid-column: 2;
       grid-row: 1 ;
   }
   .flist ul {
       padding: 0px;
      
   }
   .photos {
       grid-column: 2;
       grid-row: 2;
   }
   .travel {
       grid-row: 2;
       grid-column: 3;

   }
   .reviews {
       grid-row: 1;
       grid-column: 3;
   }
   .events {
       grid-column: 4;
       grid-row: 2;
   }
   .sem {
       grid-column: 4;
       grid-row: 1;
   }
   .shop {
       grid-column: 5;
   }

   flex {
       
   }