/* for both seminars and reviews element that are the same */
/* Author: Cole Mullen, 000837024 */
* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #e9efff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
/* nav flexbox */
.flexbox { 
    display:flex;
}
/* nav navflex elements */
.item {
    background-color: #a8aabc;
    border: 1px solid black;
    border-radius: 1px 10px 1px 0px;
    padding: 20px;
    text-align: center;
}
/* nav navflex element */
.item a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer  {
    text-align: center;
    margin-top: 90px;
    border-top: 2px solid black;
   
} 
footer p {
    text-align: left;
    margin: 30px 8px;
}
footer a {
    text-decoration: none;
    color: gray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px ;
    background-color: #DDEEFF;
}

