/* Author: Cole Mullen, 000837024 */

@media only screen and (max-width: 599px) {
    .flexbox {
        flex-direction: column;
        justify-content: start;
    }
    .item {
       width: 100%;
    }

}
@media only screen and (max-width:899px) { 
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        
    }
}
@media only screen and ( min-width:900px) { 
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .item {
        width: 100px;    
    }
}

