/* Author: Cole Mullen, 000837024 */

@media print {  

* {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    background-color: white;
}

.flexbox{
    display: none;
}
.item {
    display: none;
}
footer {
    display: none;
}

}