/* Author: Cole Mullen, 000837024 */
* {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
body {
	margin-bottom: 10px;
	margin-left: 7px;
}
.roomview {
  text-align: center;
}
nav {
  text-align: center;
  margin: 10px;
	
	
}
nav li {
  display: inline;
}
h2 {
  background-color: #fed638;
	margin: 20px 0;
	padding: 10px;
}
.gridbox {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	align-content: center;
}

table, td, th {
	border: 1px black solid;
	border-collapse: collapse;
}
th {
	background-color:#c9bfc8;
}
td {
	padding: 9px;
}
.welcome audio {
	border: 1px solid black;
	border-radius: 20px;
}
.welcome p {
	margin-top: 10px;
}
.survey {
	grid-column: 3;
}
.survey input {
	margin-top: 10px;
}
.submit-reset input{
	padding: 5px 12px;
}	

#facilities {
	background-color: #c5f4e0;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	margin: 0 10px;
}
.fleximg h3 {
	color: white;
	background-color: #de6030;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 5px;
	
}
footer {
	margin-top: 50px;
	text-align: center;
}
.detail-center {
	background-color: #fed638;
	text-align: center;
}
.detailphotos {
	text-align: center;
	margin: 20px;
}
.detailfooters {
	text-align: left;
}
#backtoindex a {
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	background-color: #fed638;
	color: black;
	text-decoration: none;
}
#backtoindex  {
	text-align: right;
}
.detailfooters {
	margin-bottom: 40px;
}