@media only screen and (max-width: 600px) {
 /* Author: Cole Mullen, 000837024 */   
.roomview img {
    display: none;
}
nav li{
    display:list-item;
    list-style: none;
}
.gridbox {
    grid-template: none;
}
#remove {
    display: none;
}


}